@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    background: url('CipungHaji3.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
  

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
    transition: background 0.3s, border-bottom 0.3s;
}
.header.sticky {
    background: #0075ff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.logo {
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Navbar */
.navbar a {
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    opacity: 0;
    animation: fadeInDown 1s ease forwards;
}
@keyframes fadeInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.navbar a:hover,
.navbar a.active {
    color: #fff;
}

/* Section Styles */
section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
.title {
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    animation: fadeInDown 1s ease forwards;
}

/* Home Section */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home img {
    width: 30vw;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: drop-shadow(0 0 8rem #0075ff);
    animation: scaleIn 1s ease forwards;
}
@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5rem);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.5s;
}
.btn:hover {
    background: linear-gradient(#0075ff, #0055ff);
}
